#container {
  display: flex;
  justify-content: center;
}
#player-div {
  margin: auto;
  width: 800px;
  background-color:rgba(148, 148, 148, 0.5);
  text-align: center;
}
#schedule {
  margin: auto, 50px;
  width: 20%;
  padding: 10px;
  background-color:rgba(148, 148, 148, 0.5);
}
